<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ server_name }}
    DocumentRoot /var/www/test_site

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/test_site>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>
